################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ResultConverter/ResultConverter.VC.VC.opendb
